.container-fluid {
    padding-top:100px!important;
}

/* main box code */
.box {
    margin: 10px;
    border: 1px black;
}
.header-button {
    border-radius:10px 10px 0 0 ;
    background-color: #2F2F2F;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.main-box-body {
    border-radius:0 0 10px 10px ;
    background-color: black;
    color: white;
}

/* main box code end */

.note {
    color: red;
}

.highlight {
    color: yellow;
}
.code {
    color: rgb(247, 115, 8);
}

/* .main_ {
    margin-top: 20px;
} */
.main_ ul li {
    color: rgb(159, 159, 213);
    font-size: 18px;
    list-style: none;
}

.copy-btn {
    width: 100px !important;
}

pre {
    font-size: 15px !important;
    max-height: 700px; 
    overflow-y: auto;
    color: white;
    padding: 30px 10px 20px 10px;
    /* white-space: pre-wrap;  */
}

/* scrollbar */
pre::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
pre::-webkit-scrollbar-track {
    height: 10%;
box-shadow: inset 0 0 5px grey; 
/* border-radius: 10px; */
}

/* Handle */
pre::-webkit-scrollbar-thumb {
background: grey; 
/* border-radius: 10px; */
}

/* Handle on hover */
pre::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}

/* laravel installation page css  start*/
* {
    font-family: "crimson text";
}
.description p {
    font-size: 18px;
    color: #373737;
    margin-top: 1rem;
    margin-bottom: 0;
}
strong.step {
    display: block;
    width: 100%;
}

.step {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;        
    color: #1e5792;
    border-left: 14px solid #1e5792 !important;
    border-right: 14px solid #1e5792 !important;
    border-radius: 6px;
    border-color: #ececec;
    border-right: 1px solid #ececec;
    padding-left: 20px;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.link {
    border-radius: 6px;
    padding-left: 20px;
    padding: 12px 7px;
    font-size: 18px;
    margin: 20px 0;
    border-left: 14px solid rgb(85, 181, 109) !important;
    border-right: 14px solid rgb(85, 181, 109) !important;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    background: rgb(217, 245, 224);
    letter-spacing: 0.5px;
}
.link a {
    color: #1e5792;
}
/* laravel installation page css  end*/

/* pre define colour for code box  start*/

.cmt {
    color: greenyellow;
}
/* pre define colour for code box  end*/

@media only screen and (max-width: 600px) {
    header {
        position: fixed !important;
    }
    .container-fluid {
        padding-top: 0px !important;
    }
    .header-wrapper h1 {
        font-size: 20px;
        margin-bottom: 10px; 
    }

    .note {
        font-size: 12px; 
    }

    ul li {
        font-size: 14px; 
        margin-bottom: 6px;
    }

    .copy-btn {
      width: 80px !important;
    }

    code {
        font-size: 16px; 
        padding: 15px; 
        width: 90%;
    }
    .main-body pre {
        font-size: 14px; 
        padding: 15px; 
        overflow-x: auto; 
        margin-left: -100px;
    }

    .main_ {
        flex-direction: column;
    }

    .box {
        margin-bottom: 20px;
    }
}