
.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 300%;
}

.card {
    display: flex !important;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
    gap: 20px;
    width: 80%;
    border-radius: 10px;
    background-color: #292929!important;
    color:#E0E0E0 !important;
}

.active {
    border-bottom:1px solid #FFD700 ;
}

.title {
    color: white;
    text-align: center;
    border-bottom: 1px solid #FFD700;
    border-radius: 5px;
    padding-bottom: 10px;
}

.card button {
    border-radius: 5px;
    background-color: #ffd90090;
    color: var(--text-color);
    padding: 5px;
    width: 100%;
}

.card button:hover {
    background-color: #d6c040;
}

.card .name {
    font-size: 20px;
}

/* important-links page css  */


.container_s3 .items-list {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

/* important-links page css  */

.dash_main_body {
    padding-top: 80px;
}

/** database page ui end*/

/* error dashboard page ui  */

.solution {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: px;
}
