* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* global declared start.............................. */
:root {
    --color-hight: red ;
    --theme-color:black;
    --dashboard-theme-color:linear-gradient(40deg,#227155 0,#003a26 40%,#227155 70%,#0c563c 100%);

    --header-background: black;
    --header-color: white;

    --footer-background: var(--header-background);
    --footer-color: var(--header-color);

    --text-color: white;
    --transition-sec: 0.5s;
}

.theme {
    background: var(--theme-color);
    /* background: var(--theme-color); */
}

ul,li {
    list-style: none !important;
    margin-bottom: 0px !important;
}

a {
    text-decoration: none !important;
}

span {
    color:var(--color-hight);
}

hr {
    color: var(--text-color) !important;
    margin: 0px !important;
}
/* global declared ends.............................. */

/*  header start.............................. */
#header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background); 
    color: var(--header-color);
    width: 100%;
}
.main-header .logo {
    margin: 20px;
}
.main-header .logo img{
    width: 100px;
    height: 50px;
}
.main-header-list-items ul {
    display: flex;
}
.main-header-list-items  li a{
    padding: 10px;
    margin: 10px;
    color: inherit;
    font-size: 25px;
}
.main-header-list-items li a:hover {
    color: var(--color-hight);
    transition: var(--transition-sec);
}
.header-responsive {
    display: none;
}
/*  header ends.............................. */

/* index main body css.............................. */

/*  personal details.............................. */
#personalDetails {
    padding: 20px 50px 50px 50px;
}
.detailsContents {
    color: var(--text-color);
    font-size: 20px;
}
.detailsContents h1 {
    font-size: 35px;
    font-weight: 700;
}
.detailsContents h3{
    font-size: 32px;
    font-weight: 700;
} 
.detailsContents span {
    font-size: 22px;
    
}
.detailsContents p {
    width: 60%;
}
.personalImage img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.personalImage img:hover {
    box-shadow: 0 0 50px var(--color-hight);
    border-radius: 50%;
    transition: var(--transition-sec);
}
#personalDetails button {
    width: 170px;
    height: 50px;
    margin: 40px 0 !important;
    font-size: 16px !important;
    background-color: var(--color-hight);
    color: white;
    padding: 10px;
    border-radius: 40px !important;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px var(--color-hight), 0 0 10px var(--color-hight);
}
#personalDetails button:hover {
    box-shadow: 0 0 10px var(--color-hight), 0 0 25px var(--color-hight);
    transition: var(--transition-sec);
}
/* personal details ends.............................. */

/*  aboutme css starts.............................. */
#aboutMe {
    padding: 130px 0px 50px 0px;
}
.aboutContent {
    color: var(--text-color) !important;
}
.php-logo img, .aboutContent {
    width: 100%;
    height: 100%;
    padding: 0px 50px;
}
.aboutContent p {
    margin-top: 20px;
    font-size: 20px; 
    letter-spacing: 1px;
    line-height: 28px;
}
.aboutContent h1{
    font-size: 60px;
}
/*  aboutme css ends.............................. */

/*  skill educations exp css start.............................. */
#skillEducation {
    color: var(--text-color);
    padding: 100px 300px 0px 300px;
}

#skillEducation ul {
    display: flex;    
    justify-content: space-between;
}

.skill-list{
    padding:20px 0 20px 0;
}

.skill-list li {
    cursor: pointer;
    font-size: 1.5rem;
}

#skillEducation h2 {
    font-size: 50px;
}

.expContent ul {
    display: flex;
    flex-direction: column;
    /* padding: 30px; */
}

.eduContent img{
    width: 25%;
}

.skill-items .content {
    height: 350px;
}
/*  skill educations exp css ends.............................. */

/*  projects mywork css start.............................. */
#projects {
    padding-top: 100px;
    color: var(--text-color);
}
#projects h1 {
    font-size: 3.4rem;
}

#projects .box-main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px 150px;
}
.box {
    width: 350px;
    height: 450px;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background: linear-gradient(40deg,#227155 0,#003a26 40%,#227155 70%,#0c563c 100%) !important;
    color: inherit;
    border-radius: 10px;
    cursor: pointer;
}

.box:hover {
    border-radius: 5px;
    box-shadow: 0 0 20px #3cdda5 !important;;
    transition: var(--transition-sec);
}

.box h1 {
    font-size: 25px !important;
}

#projects img {
    padding: 10px;
    width: 250px;
    border-radius: 15px;
}
/*  projects mywork css ends.............................. */

/*  footer css start.............................. */
#footer {
    background: var(--footer-background);
    color: var(--footer-color);
    padding-top: 20px;
    margin-top: 20px;
}
.footer-items {
    padding: 50px 0px;
}
#footer .row {
    margin-right: 0px !important;
}
#footer ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#footer ul li {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}
#footer ul li a { 
    color: inherit;
    font-size: 20px;
}
#footer ul li a:hover {
    color: var(--color-hight);
    transition: var(--transition-sec);
}
.copyright {
    padding-top: 10px;
}
/* footer css ends.............................. */

/* progress bar start.............................. */
.technical-bars {
    align-items: center;
}

.technical-bars .bar {
    margin-top: 20px 0;
}

.technical-bars .bar:first-child {
    margin-top: 0;
}

.technical-bars .bar:last-child {
    margin-bottom: 0;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.technical-bars .bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 80%;
    background-color: #DD4B25;
}

.progress-line.css span {
    width: 80%;
    background-color: #147bbc;
}

.progress-line.javascript span {
    width: 60%;
    background-color: burlywood;
}

.progress-line.jquery span {
    width: 40%;
    background-color: burlywood;
}

.progress-line.bootstrap span {
    width: 65%;
    background-color: #b0b;
}

.progress-line.github span {
    width: 72%;
    background-color: grey;
}

.progress-line.php span {
    width: 70%;
    background-color: #617CBE;
}

.progress-line.android span {
    width: 50%;
    background-color: #30D780;
}

.progress-line.python span {
    width: 60%;
    background-color: blueviolet;
}

.progress-line span::after {
    position: absolute;
    background-color: #617CBE;
    padding: 1px 8px;
    color: var(--text-color);
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.css span::after {
    content: "80%";
}

.progress-line.javascript span::after {
    content: "60%";
}

.progress-line.jquery span::after {
    content: "40%";
}

.progress-line.bootstrap span::after {
    content: "65%";
}

.progress-line.github span::after {
    content: "72%";
}

.progress-line.php span::after {
    content: "70%";
}

.progress-line.android span::after {
    content: "50%";
}

.progress-line.python span::after {
    content: "60%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: var(--text-color);
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}
/* progress bar ends.............................. */

/* media query mobile Index Page start............ */
@media(max-width:540px){
    
    .main-header {
        display: none;
    }
    .header-responsive {
        display: inline-block;
    }
    .header-responsive {
        position: sticky;
        top: 0;
        display: block;
        background-color: #212529;
        color: var(--text-color);
        z-index: 100;
    }
    .header-responsive .logo-toggler {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }
    .header-responsive .logo-toggler img {
        height: 50px;
        width: 100px;
    }
    .header-responsive .logo-toggler i {
        border: 1px solid var(--text-color);
        border-radius: 6px;
        font-size: 20px;
        padding: 5px 15px;
        width: 50px;
        margin-top: 10px;
        height: 30px;
        color: var(--text-color);
    }
    .header-responsive-list-items {
        justify-items: center;
    }
    .header-responsive-list-items ul li {
        padding: 5px 0px;
    }
    .header-responsive-list-items ul li a {
        font-size: 25px;
        color: var(--text-color);
    }

    .container-fluid {
        padding-left: 0px !important;
    }

    #personalDetails {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 30px;
    }
    .personalImage img {
        height: 300px;
        width: 300px;
    }
    #personalDetails button {
        margin: 10px 0 30px 0px !important;
    }

    .detailsContents p{
        width: 100%;
    }
    .php-logo img {
        display: none;
    }
    #aboutMe {
        padding: 10px 0px !important;
    }
    #aboutMe h1, #aboutMe h3 {
        text-align: center;
        padding: 10px 0px !important;
    }
    .aboutContent p{
        margin: 0px 20px 20px 20px;
        font-size: 15px;
    }

    #skillEducation {
        padding: 0;
    }
    #skillEducation h2 {
        font-size: 35px;
        padding-bottom: 10px;
        margin: 0;
    }
    .skill-list{
        padding: 20px;
    }
    .eduContent p {
        padding: 10px;
    }
    .eduContent img{
        width: 50%;
    }
    .skill-items {
        padding: 5px 30px;
    }
    .expContent ul {
        padding-left: 0px;
        /* padding: 0px 10px; */
    }
    #projects .heading h1 {
        margin: 10px 0px 30px 0px;
    }
    #projects .box-main {
        display: flex;
        flex-direction: column;
    }

    .box {
        margin: 10px;
    }
    .box-main {
        padding-left: 0px !important;
    }
    .desc p {
        margin: 10px 0;
    }

    #footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer ul li {
        padding: 5px;
    }
    .copyright {
        padding: 20px 10px 10px 10px !important;
    }
}
/* media query mobile Index Page ends............. */


/* dashboard css ............. */


/* card start ............... */
.card-container {
    padding: 0px 150px;
}
.card {
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg,#227155 0,#003a26 40%,#227155 70%,#0c563c 100%) !important;
    color: var(--text-color) !important;
    height: 300px !important;
}    
.card:hover {
    box-shadow: 0 0 20px #30D780;
    font-size: 17px;
    transition: var(--transition-sec);
}
.card-title {
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
}
.card i {
    color:rgb(45 217 102);
    margin-right: 5px;
}
.card-icon {
    font-size: 24px;
}
.card-text {
    height: 40%;
    width: 80%;
}
.btn-custom {
    background-color: #226B5F !important;
    color: #fff !important;
}
.btn-custom:hover {
    background-color: #5ba297 !important;
    box-shadow: 0 0 10px #30D780;
    transition: var(--transition-sec);
}
/* card ends ............... */


/* media query mobile Dashboard start ................. */
@media(max-width:540px) {
    .card-container {
        padding: 0px 10px 0px 20px;
    }
    .card-title {
        width: 100%;
    }
    .card-text {
        width: 80%;
    }
    .page_under_construction {
        padding-top: 20px;
    }

    .my-table td {
        padding: 10px;
    }

    .code-box {
        width: 100% !important;
    }
}
/* media query mobile Dashboard ends ................. */

/* Table css start ................. */
.my-table {
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(40deg,#227155 0,#003a26 40%,#227155 70%,#0c563c 100%) ;
}
.my-table td {
    font-weight: bold;
    color: var(--text-color);
    padding: 10px;
    border-bottom: 2px solid black;
}
.my-table tr:hover {
    background-color: #045538 !important;
    box-shadow: 0 0 10px #30D780;
    transition: var(--transition-sec);
}
/* Table css ends ................. */

.content {
    padding: 20px;
    color: var(--text-color);
    background-color: #212121;
}

.code-box {
    width: 60%;
    margin: 10px 0px;
}
.code-box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2F2F2F;
    color: #9B9B9B;
    border-radius: 5px 5px 0px 0px;
}
.code-box-body {
    background-color: black;
    border-radius: 0px 0px 5px 5px;
}

/* pre define step, link, note start */
.title {
    padding: 10px 0px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 3px solid #003a26;
    color: var(--text-color);
}
.step {
    padding: 10px 20px;
    border: 1px solid white;
    border-left: 14px solid #1e5792 !important;
    border-right: 14px solid #1e5792 !important;
    border-radius: 5px;
    color: #1e5792;
    font-size: 20px;
    margin: 10px 0px;
}
.link {
    border-left: 14px solid rgb(85, 181, 109) !important;
    border-right: 14px solid rgb(85, 181, 109) !important;
    border-radius: 5px;
    background-color: rgb(217, 245, 224);
    padding: 12px 10px;
    font-size: 18px;
    margin: 10px 0px
}
.link a {
    color: #1e5792;
}
pre {
    padding: 20px;
}
/* pre define step, link, note ends */